<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monte Carlos Acessórios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}"><img src='https://montecarlo.vtexassets.com/assets/vtex/assets-builder/montecarlo.store-theme/16.5.41/images/montecarlo-logo___5f2320292da1c364cf32bf4c21524dd4.svg' width = 120 /> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('produtos') }}">Produtos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato">Contatos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!---funcao para pop-up confirmacao deletar-->
    <script>
      function confirmDeletar() {
          return confirm("Tem certeza de que deseja deletar este item?");
      }
      </script>

    <!---Showing the chosen product--> 
    <h1 class="card-title mt-5 mb-5 p-2">Dados do Produto:</h1>
    <ul>
        <div class="card mb-3" style="max-width: 1000px;">
          <div class="row g-0">
            
            <div class="col-md-4">
              <img src= "{{ documentos.Imagem }}" width=500px class="img-fluid rounded-start" alt="...">
            </div>

            <div class="col-md-8">

              <div class="card-body">
                <h5 class="card-title">{{ documentos.Name }}</h5>
                <p class="card-text"> <strong>Preço: {{ documentos.Price }}</strong></p>
                <p class="card-text"><small class="text-body-secondary">Marca: {{ documentos.Company.Name }}</small></p>
                <p class="card-text"><small class="text-body-secondary">Lugar do corpo: {{ documentos.Body.Location }}</small></p> 
              </div>

              <div class="btn-group">
                <form action="{{ url_for('delete', id=documentos._id) }}" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirmDeletar();">Deletar</button>
                </form>
                <form action="{{ url_for('edit', id=documentos._id) }}">
                  <button type="submit" class="btn btn-secondary btn-sm">Atualizar produto</button>
                </form>
              </div>

            </div>
          </div>
        </div>
    </ul>
    

    <footer>

    <!-- the end-->
    <footer id=contato  class="rodape">
      <div class="bg-dark mt-5 p-5 text-white text-center">
        <p>Acessórios de qualidade</p>
        <p><a href="ana : ana@gmail.com" class="text-white">Entre em contato</a></p>
      </div>
  

    </footer>
  </body>
</html>
