<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monte Carlos Acessórios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home') }}"><img src='https://montecarlo.vtexassets.com/assets/vtex/assets-builder/montecarlo.store-theme/16.5.41/images/montecarlo-logo___5f2320292da1c364cf32bf4c21524dd4.svg' width = 120 /> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('produtos') }}">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contato">About us</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>


    <!-- main text -->
    <div class="container">
        <h1 class="text-center p-2 mb-4 mt-4">Monte Carlo Acessórios</h1>
        <h3 class="text-center mb-4 mt-4">Atualizar item</h3>
        <p class="text-center bg-info-subtle p-3 mb-2 ">Deseja atualizar as informações desse produto? </br> Atualize o formulário abaixo e clique em concluir :D</p>

        <form method="POST" action="{{ url_for('edit', id=documentos._id) }}">

          <div class="form-group mt-5 mb-3">
            <label for="nome">Nome do produto</label>
            <input type="text" class="form-control" name="nome" value="{{ documentos.Name}}" required>
          </div>
          <div class="form-group mb-3">
            <label for="marca">Marca do produto</label>
            <input type="text" class="form-control" name="marca" value="{{ documentos.Company.Name }}" required>
          </div>
          <div class="form-group mb-3">
            <label for="categoria">Categoria</label>
            <input type="text" class="form-control" name="categoria" value="{{ documentos.Category }}" required>
          </div>
          <div class="form-group mb-3">
            <label for="preco">Preço</label>
            <input type="text" class="form-control" name="preco" value="{{ documentos.Price }}" required>
          </div>
          <div class="form-group mb-3">
            <label for="loc">Localização no corpo</label>
            <input type="text" class="form-control" name="loc" value="{{ documentos.Body.Location }}" required>
          </div>
          <div class="form-group mb-3">
            <label for="img">Imagem URL</label>
            <input type="text" class="form-control" name="img" value="{{ documentos.Imagem }}" >
          </div>
          <div class="form-group mb-3">
            <label for="obs">Observações</label>
            <textarea class="form-control" name="obs" rows="3" >{{ documentos.Observations }}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Atualizar Produto</button>

      </form>


    </div>

    <!-- the end-->
    <footer class="bg-dark mt-5 p-5 text-white text-center">
        <p>Acessórios de qualidade</p>
        <p><a href="ana : ana@gmail.com" class="text-white">Entre em contato</a></p>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  


</body>
</html>